<header class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><%- title %></a>

            <!--/ Main nav -->
            <ul id="main-menu" class="nav navbar-nav navbar-left">
                <li>
                    <a class="btn btn-success btn-lg" href="#/passenger"><%= __("I'm passenger")%></a>
                </li>
                <li>
                    <!--<a class="btn btn-info btn-lg" href="#/driverForm">driverForm</a>-->
                    <a class="btn btn-info btn-lg" href="#/driver"><%= __("I'm driver")%></a>
                </li>
            </ul>

            <!--/.Profile... -->
            <div id="user-status" class="nav navbar-nav navbar-right pull-right">
                {{#if user.profile }}
				<a href="/profile">
					<img id="user-avatar" {{bind-attr src=user.profile.photo}} alt="avatar" class="img-circle">
                </a>                
               {{else}}
              <div>
				<a {{action 'loginDropDown'}} class="btn btn-warning btn-lg" href="#">login</a>
                   {{#if loginMenuOpened}}
					<ul id="login-menu" class="dropdown-menu show">						
                        <% for (var item in header.socialLogin) { %>
                        <li>
                            <button {{action 'login' "/login/<%- item %>"}} class="btn btn-warning btn-lg <%- !header.socialLogin[item].enable && "disabled" %>"><%- header.socialLogin[item].name %></button>
                        </li>
                        <% } %>
                    </ul>
					{{/if}}
                </div>
                {{/if}}
            </div>

        </div>
    </div>
</header>