<header class="navbar navbar-default navbar-static-top" role="navigation">
    <div ng-controller="headerCtrl" class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><%- title %></a>

            <!--/ Main nav -->
            <ul id="main-menu" class="nav navbar-nav navbar-left">
                <li>
                    <a class="btn btn-success btn-lg" href="#/passengerForm"><%= __("I'm passenger")%></a>
                </li>
                <li>
                    <!--<a class="btn btn-info btn-lg" href="#/driverForm">driverForm</a>-->
                    <a class="btn btn-info btn-lg" ui-sref="driver"><%= __("I'm driver")%></a>
                </li>
            </ul>

            <!--/.Profile... -->
            <div id="user-status" class="nav navbar-nav navbar-right pull-right">
                <% if(!user) { %>
                <div>
                    <a ng-mouseenter="showLoginMenu()" class="btn btn-warning btn-lg" href="#/login/">login</a>
                    <ul id="login-menu" class="dropdown-menu {{loginMenuState}}">

                        <% for (var item in header.socialLogin) { %>
                        <%//- item + " / " + header.socialLogin[item].name + " / " + header.socialLogin[item].enable %>

                        <li>
                            <a class="btn btn-warning btn-lg <%- !header.socialLogin[item].enable && "disabled" %>" href="/login/<%- item %>"><%- header.socialLogin[item].name %></a>
                        </li>
                        <% } %>
                    </ul>
                </div>
                <% } else { %>
                <a href="/profile">
                    <img id="user-avatar" src="<%= user && user.photo||"/imgs/0bc5bc2.jpg"%>" alt="avatar" class="img-circle">
                </a>
                <% } %>
            </div>

        </div>


        <div ng-controller="ModalDemoCtrl">
            <!--Modal tpl-->
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3>I'm a modal!</h3>
                </div>
                <div class="modal-body">
                    <ul>
                        <li ng-repeat="item in items">
                            <a ng-click="selected.item = item">{{ item }}</a>
                        </li>
                    </ul>
                    <section id="map" ng-controller="MapCtrl" >
                        <div ui-map="myMap" ui-options="mapOptions" class="map-canvas"></div>
                    </section>
                    Selected: <b>{{ selected.item }}</b>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>
            <!--Modal-->

            <button class="btn btn-default" ng-click="open()">Map test</button>
        </div>

    </div>
</header>